.background {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../../assets/background1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-size: 17px;
}

.contentBody {
  margin: auto;
  padding: 0;
  width: 900px;
  height: 600px;
  background-color: rgba(5, 20, 48, 0.9);
  border-radius: 20px;
}

.home {
  margin: 60px auto 0 110px;
  padding: 0;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.away {
  margin: 60px 110px 0 auto;
  padding: 0;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.homeLogo {
  margin: -10px auto 0 85px;
  padding: 0;
  width: 250px;
}

.vs {
  margin: 110px 0 0 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.awayLogo {
  margin: -10px 85px 0 auto;
  padding: 0;
  width: 250px;
}

.homeName {
  margin: auto;
  padding: 0 0 0 10px;
  width: 400px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.awayName {
  margin: auto;
  padding: 0 10px 0 0;
  width: 400px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.record {
  margin: -30px auto auto auto;
  padding: 0 0 0 0;
  width: 300px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.record-item1 {
  font-size: 30px;
  margin-right: 10px;
  color: #036eff;
}

.record-item2 {
  font-size: 30px;
  margin-right: 10px;
  color: #ea4643;
}

.record-item3 {
  font-size: 30px;
  color: #299718;
}

.pitcherHead {
  margin: -10px auto 0 auto;
  padding: 0;
  height: 30px;
  width: 300px;
  line-height: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(#053167, #053167b1);
  border-radius: 15px 15px 0 0;
}

.pitcherBody {
  margin: auto;
  padding: 0;
  height: 30px;
  width: 300px;
  line-height: 30px;
  text-align: center;
  color: white;
  background-color: rgba(4, 30, 66, 0.9);
  border-radius: 0 0 15px 15px;
}

.stand {
  display: inline-block;
  margin: auto 10px auto auto;
  padding: auto;
  width: 50px;
  height: 20px;
  line-height: 17px;
  border-radius: 3px;
}
