.bg {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 100;
}

.title {
  display: flex;
  margin: auto;
  width: 1000px;
}

.subtitle {
  display: flex;
  margin: auto;
  width: 300px;
}

.text {
  margin: 100px auto 30px auto;
  text-align: center;
  color: rgba(2, 179, 90, 0.659);
  font-size: 32px;
  font-weight: 900;
}

.loadingBar {
  align-items: center;
  width: 1000px;
  height: 20px;
}

.loading {
  height: 20px;
  transition: all 0.5s;
}

.ball {
  position: fixed;
  height: 30px;
  animation: rotate 2000s infinite;
  transition: all 0.5s;
}

.none {
  visibility: hidden;
  z-index: -1;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360000deg);
    -o-transform: rotate(360000deg);
    transform: rotate(360000deg);
  }
}
