.background {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../../assets/image/background3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-size: 17px;
}

.mainHead {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 1400px;
  line-height: 40px;
  color: white;
  text-align: center;
  animation: fadeIn 1.5s;
}

.mainHead-menu {
  display: inline-block;
  width: 150px;
  background: #0531677f;
  border-radius: 20px 20px 0 0;
}

.mainHead-menu:hover {
  background: #264b7d;
  cursor: pointer;
}

.mainBody {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 650px;
  width: 1400px;
  line-height: 40px;
  color: white;
  text-align: center;
  background: rgba(5, 20, 48, 0.5);
  border-radius: 0 20px 20px 20px;
  animation: fadeIn 1.5s;
}

.manageHead {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: auto;
  height: 30px;
  width: 150px;
  line-height: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(#053167, #053167b1);
  border-radius: 15px 15px 0 0;
}

.manageBody {
  margin-left: 40px;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 540px;
  width: 600px;
  background-color: rgba(4, 30, 66, 0.9);
  border-radius: 0 15px 15px 15px;
}

.marketHead {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: auto;
  height: 30px;
  width: 150px;
  line-height: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(#053167, #053167b1);
  border-radius: 15px 15px 0 0;
}

.marketBody {
  margin-left: 40px;
  margin-right: auto;
  padding: 10px;
  height: 540px;
  width: 600px;
  background-color: rgba(4, 30, 66, 0.9);
  border-radius: 0 15px 15px 15px;
}

.guideImg {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
}

.guideContent {
  margin-top: 5px;
  height: 200px;
  text-align: left;
  overflow: auto;
}

.guideContent::-webkit-scrollbar {
  width: 8px;
}

.guideContent::-webkit-scrollbar-thumb {
  z-index: -1;
  background: #264b7d;
  border-radius: 10px;
}

.guideContent::-webkit-scrollbar-thumb:hover {
  background-color: #93afd4;
}

.guideContent::-webkit-scrollbar-track {
  background: #123360;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
