.bg {
  position: absolute;
  width: 100%;
  opacity: 0.9;
  filter: brightness(50%);
}

.title,
.subtitle {
  position: relative;
  display: flex;
  justify-content: center;
}

.title {
  padding-top: 5%;
  align-items: center;
}

.buttonLoc {
  position: relative;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.button {
  width: 200px;
  height: 40px;
  color: white;
  background: black;
  border-radius: 20px;
  opacity: 0.7;
  border: none;
  font-weight: bold;
  font-size: larger;
}
