.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.open {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.5s;
}

.modalBody {
  position: absolute;
  width: 400px;
  height: 600px;
  padding: 40px 0px;
  text-align: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modalTitle {
  width: 400px;
  margin-top: 10px;
  object-fit: cover;
}

.modalSubtitle {
  width: 160px;
  object-fit: cover;
}

.buttons {
  width: 100%;
  padding: 60px 0px 100px 0px;
}

.loginBtn {
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  width: 300px;
  height: 45px;
  cursor: pointer;
}

.back {
  color: #041e42;
  font-weight: bold;
  cursor: pointer;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
