.modal {
  padding: 0px;
  margin-top: -554px;
  margin-left: 572px;
  animation: animation-modal-show 0.5s;
  z-index: 1;
}

.head {
  height: 30px;
  width: 500px;
  line-height: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(#053167, #053167);
  border-radius: 20px 20px 0 0;
}

.body {
  height: 514px;
  width: 500px;
  background-color: rgb(4, 30, 66);
  border-radius: 0 0 20px 20px;
  color: white;
  text-align: center;
}

.stat {
  position: absolute;
  top: 350px;
  text-align: center;
}

.table {
  color: white;
  font-size: 0.5rem;
}

.table tr:nth-child(2n + 1) {
  color: #aaaaaa;
}

@keyframes animation-modal-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
