.background {
  margin-left: 0px;
  margin-right: 0px;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../assets/image/background5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-size: 17px;
}

.clubHead {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 1200px;
  line-height: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(#053167, #053167b1);
  border-radius: 20px 20px 0 0;
}

.clubBody {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 650px;
  width: 1200px;
  background-color: rgba(5, 20, 48, 0.5);
  border-radius: 0 0 20px 20px;
}

.clubBody-row1-col1 {
  padding-top: 20px;
}

.batterHead {
  margin-left: auto;
  margin-right: 30px;
  height: 30px;
  width: 500px;
  line-height: 30px;
  color: white;
  text-align: center;
  background: linear-gradient(#053167, #053167b1);
  border-radius: 20px 20px 0 0;
  margin-top: auto;
}

.batterBody {
  margin-left: auto;
  margin-right: 30px;
  padding: 0px;
  height: 520px;
  width: 500px;
  background-color: rgba(4, 30, 66, 0.9);
  border-radius: 0 0 20px 20px;
}

.pircherHead {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
  height: 30px;
  width: 500px;
  line-height: 200%;
  color: white;
  text-align: center;
  background: linear-gradient(#053167, #053167b1);
  border-radius: 20px 20px 0 0;
}

.pircherBody {
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 0px;
  height: 230px;
  width: 500px;
  background-color: rgba(4, 30, 66, 0.9);
  border-radius: 0 0 20px 20px;
}

.clubBody-row2-div {
  padding-top: 10px;
  text-align: center;
}

.clubBody-row2-div-btn {
  margin-left: 1px;
  margin-right: 1px;
  height: 40px;
  width: 120px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  display: inline-block;
  border-radius: 10px;
}

.clubBody-row2-div-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: white;
}

.bg-color-cst1 {
  background: linear-gradient(#051430, #0514303e);
}

.bg-color-cst2 {
  background: linear-gradient(#041e42, #041e4239);
}

.bg-color-cst3 {
  background: linear-gradient(#053167, #05316740);
}

.bg-color-cst4 {
  background: linear-gradient(#bf0d3e, #bf0d3f47);
}

.bg-color-cst5 {
  background: linear-gradient(#a2e90b, #a3e90b1d);
}

.bg-color-cst6 {
  background: linear-gradient(#aaaaaa, #aaaaaa8f);
}

.bg-color-cst7 {
  background: linear-gradient(#dfdfdf, #dfdfdf8f);
}

.color-cst1 {
  color: #051430;
}

.color-cst2 {
  color: #041e42;
}

.color-cst3 {
  color: #053167;
}

.color-cst4 {
  color: #bf0d3e;
}

.color-cst5 {
  color: #a2e90b;
}

.color-cst6 {
  color: #aaaaaa;
}

.color-cst7 {
  color: #dfdfdf;
}
