.body {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#041e42, rgba(04, 30, 66, 0.5));
  color: white;
  text-align: center;
  padding: 0;
}

.title {
  width: 200px;
  height: 24px;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
  background: linear-gradient(#053167, rgba(5, 49, 103, 0.6));
  font-size: 14px;
}

.content {
  display: block;
  color: white;
  overflow: auto;
  line-height: 30px;
}

.leftHitter,
.rightHitter {
  width: 80%;
  height: 15px;
  margin-right: 2px;
  text-align: center;
  border-radius: 3px;
  margin: 0;
  line-height: 15px;
}

.leftHitter {
  background-color: rgb(194, 94, 0);
}

.rightHitter {
  background-color: green;
}

.leftPitcher,
.rightPitcher {
  width: 80%;
  height: 15px;
  margin-right: 2px;
  text-align: center;
  border-radius: 3px;
  margin: 0;
  line-height: 15px;
}

.leftPitcher {
  background-color: #bf0d3e;
}

.rightPitcher {
  background-color: #0d5fbf;
}

.content::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

.content::-webkit-scrollbar-thumb {
  z-index: -1;
  background: #264b7d;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #93afd4;
}

.content::-webkit-scrollbar-track {
  background: #123360;
  border-radius: 10px;
}
