.velocity-title {
  width: 250px;
  height: 50px;
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
  background: linear-gradient(#000000, rgba(0, 0, 0, 0.3));
  color: #FFFFFF;
  font-size: 30px;
}

.velocity-content {
  width: 250px;
  height: 120px;
  margin-left: 20px;
  padding: 0;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}