.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.close-button {
  outline: none;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 10px;
  color: white;
  background-color: transparent;
}

.close-button:hover {
  color: red;
}


.section {
  width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  background: rgba(5, 20, 48, 0.5);
  height: 650px;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.header {
  position: relative;
  background: linear-gradient(#053167, #053167dd);
  font-size: 20px;
  text-align: center;
  height: 30px;
}

.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}


.reset, .save {
  font-size: 18px;
  border: none;
  height: 32px;
  width: 120px;
  border-radius: 10px;
  margin-left: 30px;
  line-height: 20px;
}

.reset {
  background: linear-gradient(#BF0D3E, rgba(191, 13, 62, 0.4));
}

.save {
  background: linear-gradient(#A2E90B, rgba(162, 233, 11, 0.4));
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}