.innerbox {
  margin: 25px;
  height: 500px;
  width: 600px;
  border-radius: 20px;
  background: linear-gradient(#041E42, rgba(04, 30, 66, 0.6));
}

#field {
  -webkit-user-drag: none;
  width: 90%;
}