.innerbox {
  margin: 20px;
  height: 400px;
  width: 460px;
  border-radius: 15px;
  background: linear-gradient(#041E42, rgba(04, 30, 66, 0.6));
}

#field {
  -webkit-user-drag: none;
  width: 90%;
}


.first, .second, .third {
  position: absolute;
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 15px;
}

.x {
  visibility: hidden;
}

.first {
  top: 230px;
  left: 295px;
}

.second {
  top: 180px;
}

.third {
  top: 230px;
  left: 185px;
}

