.logs {
  width: 550px;
  height: 550px;
  border-radius: 20px;
  background: linear-gradient(#041E42, rgba(04, 30, 66, 0.6));
  color: white;
  text-align: center;
}

.title {
  width: 550px;
  height: 50px;
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
  background: linear-gradient(#053167, rgba(5, 49, 103, 0.6));
  font-size: 30px;
}