.bg {
  width: 100%;
  position: absolute;
  opacity: 0.7;
}

.box {
  position: relative;
  top: 25px;
  height: 900px;
  width: 1800px;
  background-color: #051430;
  opacity: 0.5;
  border-radius: 20px;
}

.innerbox {
  position: relative;
  top: 25px;
  height: 600px;
  width: 600px;
  background-color: #041E42;
  border-radius: 20px;
}