.hitters {
  width: 550px;
  height: 200px;
  background: linear-gradient(#041E42, rgba(04, 30, 66, 0.6));
  border-radius: 20px;
  margin-bottom: 20px;
}

.name {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.dashes {
  color: #BF0D3E;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bolder;
}

.content {
  font-size: 24px;
}

.log {
  font-size: 28px;
}