.pitchers {
  width: 550px;
  height: 225px;
  background: linear-gradient(#041E42, rgba(04, 30, 66, 0.6));
  border-radius: 20px;
  margin-bottom: 25px;
}

.name {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.now {
  color: #BF0D3E;
}

.vs {
  font-size: 40px;
}

.content {
  font-size: 24px;
}