.score-board {
  width: 870px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 15px;
  background: linear-gradient(#041e42, rgba(04, 30, 66, 0.6));
  color: white;
  text-align: center;
  border-color: rgba(255, 255, 255, 0.5);
}

.green {
  color: #A2E90B;
}

.thead {
  font-size: 32px;
}

.tbody {
  font-size: 32px;
}

.left {
  border-left: none;
}
.right {
  border-right: none;
}
.top {
  border-top: none;
}
.bottom {
  border-bottom: none;
}
