.strike-zone {
  margin-left: 25px;
  width: 320px;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.mainbox {
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 20px;
}