.strike-zone {
  margin-left: 25px;
  width: 320px;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.mainbox {
  position: absolute;
  width: 180px;
  height: 180px;
  background: #000;
  border-radius: 20px;
}

.row {
  position: absolute;
  width: 180px;
  height: 60px;
  border: 2px dashed white;
  border-left: none;
  border-right: none;
}

.col {
  position: absolute;
  width: 60px;
  height: 180px;
  border: 2px dashed white;
  border-top: none;
  border-bottom: none;
}