.bg-color-cst1 {
  background: linear-gradient(#051430, #0514303e);
}

.bg-color-cst2 {
  background: linear-gradient(#041e42, #041e4239);
}

.bg-color-cst3 {
  background: linear-gradient(#053167, #05316740);
}

.bg-color-cst4 {
  background: linear-gradient(#bf0d3e, #bf0d3f47);
}

.bg-color-cst5 {
  background: linear-gradient(#a2e90b, #a3e90b1d);
}

.bg-color-cst6 {
  background: linear-gradient(#aaaaaa, #aaaaaa8f);
}

.bg-color-cst7 {
  background: linear-gradient(#dfdfdf, #dfdfdf8f);
}

.color-cst1 {
  color: #051430;
}

.color-cst2 {
  color: #041e42;
}

.color-cst3 {
  color: #053167;
}

.color-cst4 {
  color: #bf0d3e;
}

.color-cst5 {
  color: #a2e90b;
}

.color-cst6 {
  color: #aaaaaa;
}

.color-cst7 {
  color: #dfdfdf;
}

.table {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.table th:nth-of-type(1),
.table td:nth-of-type(1) {
  width: 50px;
}
.table th:nth-of-type(2),
.table td:nth-of-type(2) {
  width: 170px;
}
.table th:nth-of-type(3),
.table td:nth-of-type(3) {
  width: 50px;
}
.table th:nth-of-type(4),
.table td:nth-of-type(4) {
  width: 50px;
}
.table th:nth-of-type(5),
.table td:nth-of-type(5) {
  width: 50px;
}
.table th:nth-of-type(6),
.table td:nth-of-type(6) {
  width: 50px;
}
.table th:nth-of-type(7),
.table td:nth-of-type(7) {
  width: 50px;
}

.table tr {
  line-height: 13px;
}

.tbody tr:hover {
  background-color: #264b7d;
}

.thead {
  display: block;
  width: 100%;
}

.tbody {
  display: block;
  height: 410px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
}

.tbody::-webkit-scrollbar {
  width: 8px;
}

.tbody::-webkit-scrollbar-thumb {
  z-index: -1;
  background: #264b7d;
  border-radius: 10px;
}

.tbody::-webkit-scrollbar-thumb:hover {
  background-color: #93afd4;
}

.tbody::-webkit-scrollbar-track {
  background: #123360;
  border-radius: 10px;
}

.leftPitcher {
  width: 100%;
  height: 15px;
  background-color: #bf0d3e;
  margin-right: 2px;
  text-align: center;
  border-radius: 3px;
  margin: 0;
}

.rightPitcher {
  width: 100%;
  height: 15px;
  background-color: #0d5fbf;
  margin-right: 2px;
  text-align: center;
  border-radius: 3px;
  margin: 0;
}
