.logs {
  width: 530px;
  height: 430px;
  border-radius: 15px;
  margin-right: 20px;
  background: linear-gradient(#041e42, rgba(04, 30, 66, 0.6));
  color: white;
  text-align: center;
}

.title {
  width: 530px;
  height: 40px;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
  background: linear-gradient(#053167, rgba(5, 49, 103, 0.6));
  font-size: 24px;
}

.content {
  height: 360px;
  margin: 15px;
  overflow: auto;
  font-size: 16px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  z-index: -1;
  background: #264b7d;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #93afd4;
}

.content::-webkit-scrollbar-track {
  background: #123360;
  border-radius: 10px;
}
