.bg {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../assets/image/background5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-size: 2vh;
  overflow: hidden;
}

.box {
  position: fixed;
  width: 1400px;
  height: 700px;
  background-color: rgba(05, 20, 48, 0.7);
  border-radius: 20px;
  color: white;
}

.btn {
  font-size: 28px;
  border: none;
  height: 65px;
  width: 150px;
  border-radius: 15px;
  margin-top: 5px;
}

.win,
.lose,
.draw {
  font-size: 70px;
  font-weight: bolder;
}

.win {
  color: #a2e90b;
}

.draw {
  color: rgba(255, 255, 0, 0.727);
}

.lose {
  color: #bf0d3e;
}

.zero {
  margin: 0px;
  padding: 0px;
  transition: all 0.3s;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-size: 24px;
  margin: 0px 10px;
  color: white;
  border: none;
  background-image: linear-gradient(#041e42, rgba(4, 30, 66, 0.9));
  opacity: 0.9;
  transition: all 0.2s;
}

.button:hover {
  background-color: #041e42;
}

.toggle {
  display: block;
  padding-top: 10px;
  width: 35px;
  height: 100%;
}

.logs {
  width: 100%;
  height: 103px;
  border-radius: 0px 15px 15px 0px;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  background: #041e42;
  transition: all 0.3s;
  opacity: 0.9;
}

.logs:hover {
  cursor: pointer;
}

.isOpened {
  background: #0b418d;
}

.notOpened:hover {
  background: #0b418d;
}

.hide {
  opacity: 0;
}
