.body {
  position: absolute;
  display: flex;
  justify-content: end;
  font-size: 0px;
  margin: 10px 540px 0px 0px;
}

.logs {
  width: 0px;
  height: 40px;
  padding: 0px;
  border-radius: 15px;
  background: #041e42;
  color: white;
  text-align: center;
  transition: all 0.5s;
}

.changeLogs {
  width: 880px;
  height: 400px;
}

.title {
  height: 40px;
  margin: 0px;
  border-start-start-radius: 15px;
  background: #053167;
  transition: all 0.1s;
}

.changeTitle {
  font-size: 24px;
}

.content {
  height: 0px;
  margin: 15px;
  overflow: auto;
  font-size: 0px;
  transition: all 0.5s;
}

.changeContent {
  font-size: 16px;
  height: 330px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  z-index: -1;
  background: #264b7d;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #93afd4;
}

.content::-webkit-scrollbar-track {
  background: #123360;
  border-radius: 10px;
}
