.chart {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 900px;
  height: 45px;
  padding: 0;
  font-size: 24px;
}

.homeChart,
.awayChart {
  height: 22px;
  border-radius: 10px;
  transition: all 0.3s;
}

.homeChart {
  background: linear-gradient(#bf0d3e, rgba(191, 13, 62, 0.4));
}

.awayChart {
  background-image: linear-gradient(#a2e90b, rgba(162, 233, 11, 0.4));
}
